body {
	height: 100%;
	background: #D9E2F3;
}

main {
	min-height: calc(100vh - 100px);
	max-width: 1000px;
	padding: 0 10px;
}

nav a {
	text-decoration: none;
	font: 1em sans-serif;
	color: black;
	padding: 10px;
	margin: 5px;
	background-color: #EDE1E4;
	border-radius: 5px;
}

#card {
	margin: 10px 10px 10px 30px;
	border: 1px solid black;
}

#error {
	color: red;
}

footer {
	height: 20px;
	text-align: right;
	padding: 0 50% 0 0;
}