body {
	background: #D9E2F3;
}
main {
	max-width: 800px;
	padding: 0 10px;
}

nav a{
	text-decoration: none;
	font: 1em sans-serif;
	color: black;
	padding: 10px;
	margin: 5px;
	background-color: #EDE1E4;
	border-radius: 5px;
}
#card {
	margin: 10px 10px 10px 30px;
	border: 1px solid black;
}
.max {
	text-align: right;
	max-width: 800px;
}
